@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    display: block;
}
.logo{
margin: 0 auto;
display:inline-block;
padding-top: 20px;
clear: left;
}
.home-hero {
    background-image: url(images/background-color.jpg);
    height: 120px;
    width:1200px;
    background-size: cover;
    background-position: left;
}
header {
    background-color:#5d6280;
}
nav ul {
    list-style-type: none;
    font-size: 22px;
    margin-top: 0px;
    text-align:center;
    padding-top: 25px;
    padding-right:15px;
    padding-bottom:30px;
    background-color: #5d6280;
}
nav li {
    text-decoration: none;
    display: inline;
    margin: 40px;
    font-family: 'Oswald', sans-serif;
}
nav a:link {
    color:white;
} 
nav a:visited {
    color:white;
}
nav a:hover {
    color:white;
}
nav a:active {
    color:white;
}
main {
    max-width:1200px;
    margin: 30px;
    text-align:left;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
img {
    padding-right:30px;
    padding-bottom: 30px;
    float: left;
}
h1 {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px #5d6280;
    font-family: 'Oswald', sans-serif;
    padding-left:20px;
    padding-top: 20px;
    text-align:left;
}
h2 {
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px #5d6280;
    font-family: 'Oswald', sans-serif;
    padding-left: 20px;

}
h3 {
    font-size: 20px;
    color:#5d6280;
    font-family: 'Oswald', sans-serif;

}
h4 {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
h5 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
h6 { 
    size: 10px;
    font-family: 'Oswald', sans-serif,;
}
footer {
    clear: left;
    color:white;
    background-color: #5d6280;
    text-align: center;
    padding: 15px;
    margin: 0;
    display: block;
    font-family: 'Oswald', sans-serif;
}
.icons {
    padding: 5px 0;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 3em;
    color:black;
    text-align: center;
}
.fa {
    color: white;
}

 { 
    size: 10px;
    font-family: 'Oswald', sans-serif;
}

footer a:link {
    color: white;
    text-decoration: none;
}
















.mobile {
    display:none;
}
@media only screen and (max-width: 400px) {
    .desktop{
        display:none;
    }
    .mobile{
        display:block;
    }
}
/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
    h1{
        font-size: 1.8em;
}
/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
    h1{
        font-size: 1.5em;
    }
}